<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.e.restclienttest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity android:name=".ClientActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DataActivity"
            android:label="@string/tableName" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/authorization" />
        <activity
            android:name=".ParamsActivity"
            android:label="@string/params" />
        <activity
            android:name=".ModulesActivity"
            android:label="@string/modules" />
        <activity
            android:name=".QRscanActivity"
            android:label="@string/scanner" />
        <activity android:name=".SystemsActivity" />
        <activity
            android:name=".SetIP"
            android:label="@string/settings" />
        <activity android:name=".DataSet" />

    </application>

</manifest>